* {
  font-family: "VT323";
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: none;
  overflow: hidden;
}

.container {
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.net-cursor {
  position: absolute;
  left: -100px;
  top: -100px;
  pointer-events: none;
  z-index: 5;
  transform: translateX(-50%) translateY(-50%);
  width: 5vw;
  overflow: hidden;
}

.bubble {
  position: absolute;
  z-index: 4;
  width: 2vw;
  left: -100px;
  right: -100px;
  pointer-events: none;
}

.tank {
  width: 100%;
  height: 100vh;
  position: absolute;
}

.tank-dark {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: black;
  opacity: 0.3;
}

.fish {
  width: 10vw;
  position: absolute;
  cursor: pointer;
  background-image: radial-gradient(
    rgba(255, 255, 0, 1),
    rgba(255, 255, 0, 0.1),
    rgba(0, 0, 0, 0)
  );
  border-radius: 30%;
  overflow: hidden;
}

.fish-big {
  width: 15vw;
  position: absolute;
  cursor: pointer;
  background-image: radial-gradient(
    rgba(255, 255, 0, 1),
    rgba(255, 255, 0, 0.1),
    rgba(0, 0, 0, 0)
  );
  border-radius: 50%;
}

.fish-takes-space {
  width: 10vw;
}

.modal-dark {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  display: none;
}

.modal {
  height: calc(90% - 100px);
  width: calc(90% - 100px);
  background-color: #eeeeee;
  border-radius: 50px;
  padding: 50px;
  overflow-y: auto;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}

.close-modal {
  text-decoration: underline;
  color: dodgerblue;
  cursor: pointer;
}

.fadeModal {
  animation: fadeModal 1s ease-in-out;
}

@keyframes fadeModal {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.showModal {
  animation: showModal 1s ease-in-out;
}

@keyframes showModal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.left-controls {
  position: absolute;
  top: 50%;
  left: -40px;
  transform: translateY(-50%) scaleX(-1);
  height: 50px;
  cursor: pointer;
}

.right-controls {
  position: absolute;
  top: 50%;
  right: -40px;
  transform: translateY(-50%);
  height: 50px;
  cursor: pointer;
}

.project-image {
  width: 100%;
  border-radius: 20px;
}

.text-container {
  display: flex;
  flex-direction: column;
  width: calc((100% - 50px) / 2);
  justify-content: center;
  position: relative;
  overflow-y: auto;
}

.text-container > p {
  overflow-y: auto;
}

.image-container {
  width: calc((100% - 50px) / 2);
  display: flex;
  align-items: center;
  position: relative;
}

.fadeOut {
  animation: fadeOut 0.5s ease-in-out;
}

.fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
